[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Adafruit-GPIO = "==1.0.3"
Adafruit-PureIO = "==0.2.1"
certifi = "==2022.12.7"
chardet = "==3.0.4"
colorclass = "==2.2.0"
decorator = "==4.1.2"
idna = "==2.6"
ipython_genutils = "==0.2.0"
jsonschema = "==2.6.0"
jupyter_core = "==4.4.0"
nbformat = "==4.4.0"
pytz = "==2017.3"
requests = "==2.20.0"
spidev = "==3.2"
terminaltables = "==3.1.0"
traitlets = "==4.3.2"
urllib3 = "==1.24.2"
